*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
travel-tools-android/.idea
travel-tools-android/build
travel-tools-android/local.properties
text-field-boxes/build
